@*<div class="container">
        <div class="alert alert-primary">
            <h4 class="text-center"><strong>Datos personales de los propieratios de ganado</strong></h4>
        </div>
    </div>*@

<div class="row mt-3">
    <div class="col-12">

        <div class="container">
            <div class="alert alert-primary">
                <h4 class="text-center"><strong>Datos personales de los propieratios de ganado</strong></h4>
            </div>
        </div>

        <div class="card-body pt-0 mt-0">

            <div class="table-responsive">

                <table class="table table-bordered" id="tablaDatosPropietario" width="100%" cellpadding="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre(s)</th>
                            <th>Apellido(s)</th>
                            <th>Tipo de Identificción</th>
                            <th>Numero de Celular</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    
    <script src="~/js/datosPropietario.js"></script>
}