@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <img src="https://st.depositphotos.com/2250365/2386/i/600/depositphotos_23868893-stock-photo-grazing-cows.jpg" alt="Ganado" />
</div>*@
<div class="text-center">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary">Zonas de riesgo</button>
        <a type="button" class="btn btn-secondary" asp-controller="Home" asp-action="DatosPropietario">Propietarios de ganado</a>
        <button type="button" class="btn btn-secondary">Animales en riesgo </button>
    </div>
</div>
